.MemeThumbnail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  padding: 15px;
}
.linkMeme {
  display: block;
  width: 27vw;
  max-height: 300px;
}
.memeContainer {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #acacac;
  border-radius: 8px;
  padding: 5px;
}
.memeContainer svg {
  height: calc(100% - 40px);
  width: calc(100% - 20px);
}
.memeTitre {
  font-size: x-large;
}
