.Button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;

  box-shadow: 25px 25px 25px grey;
  font-weight: 900;
  text-decoration: underline;
  background-color: tomato;
  color: white;
}
.Button:hover {
  border: 1px solid grey;
  box-shadow: 15px 15px 25px grey;
}
.Button.clicked {
  border: 1px solid black;
  box-shadow: 5px 5px 25px grey;
}
